.btn{
    background-color:transparent;
    border: 3px solid rgba(0, 0, 0, 0.673);
    padding:5px 45px;
    
}

.btn:hover{
    background-color: black;
    color: rgba(255, 255, 255, 0);
    cursor: progress;
}

.show{
    text-align: center;
    border: 2px solid rgb(56, 56, 56);
    width: 60%;
    margin: auto;
    margin-top: 40px;
    background-color:whitesmoke;
    border-radius: 10px;
}

.show:hover{
    background-color: rgb(46, 45, 45);
    color: white;
    cursor: pointer;
}

.nav{
    border: 2px solid rgb(17, 17, 17);
    width: 60%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    text-align: right;
}